body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  height: 100vh;
}

@media (min-aspect-ratio: 5/16) {
  .section {
    flex-basis: 100%;
    height: 50%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


@media (min-aspect-ratio: 3/2) {
  .section {
    flex: 1;
    flex-basis: 25%;
    height: 100%;
    padding: 50px;
    min-width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.section:nth-child(1) {
  background-color: #f2a154;
}

.section:nth-child(2) {
  background-color: #8cb8e8;
}

.section:nth-child(3) {
  background-color: #64b9b0;
}

.section:nth-child(4) {
  background-color: #dce7a3;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: white;
  text-align: center;
}

p {
  font-size: 24px;
  color: white;
  text-align: center;
}

a {
  display: inline-block;
  background-color: white;
  color: #64b9b0;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
font-weight: bold;
transition: background-color 0.2s ease-in-out;
}

a:hover {
  background-color: #64b9b0;
  color: white;
}
